<div class="container">
    <div class="card card-container" style="margin-top:120px;">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="app/components/images/food_dining_icon.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" ng-model="log.user" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" ng-model="log.password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            <button
                    class="btn btn-lg btn-primary btn-block btn-signin"
                    type="submit"
                    ng-click="signin()">Ingresar</button>
            <label>{{msg}}</label>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->