<div class="container container-facturation" style="width: 90%;">
    <div class="card card-container1 card-reserva" style="margin-top : 100px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <i class="fa fa-search-plus pull-left icon"></i>
                    <h2>FACTURA</h2>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 pull-left">
                        <div class="panel panel-default height" style="min-height: 150px;">
                            <div class="panel-heading">Detalles de la Factura</div>
                            <div class="panel-body">
                                <strong>NIT : </strong>188988020<br>
                                <strong>Factura N°: </strong>010708<br>
                                <strong>Autorizacion : </strong>265688700004<br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="panel panel-default height" style="min-height: 150px;">
                            <div class="panel-heading">Detalles de la Factura</div>
                            <div class="panel-body">
                                <strong>Fecha:</strong> 03/06/2016<br>
                                <strong>NIT / CI:</strong> 7414741<br>
                                <strong>Señor(es):</strong> Barreda<br>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-xs-12 col-md-3 col-lg-3">-->
                        <!--<div class="panel panel-default height">-->
                            <!--<div class="panel-heading">Preferencias de Orden</div>-->
                            <!--<div class="panel-body">-->
                                <!--<strong>Gift:</strong> No<br>-->
                                <!--<strong>Express Delivery:</strong> Yes<br>-->
                                <!--<strong>Insurance:</strong> No<br>-->
                                <!--<strong>Coupon:</strong> No<br>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-md-3 col-lg-3 pull-right">-->
                        <!--<div class="panel panel-default height">-->
                            <!--<div class="panel-heading">Direccion de Entrega</div>-->
                            <!--<div class="panel-body">-->
                                <!--<strong>David Peere:</strong><br>-->
                                <!--1111 Army Navy Drive<br>-->
                                <!--Arlington<br>-->
                                <!--VA<br>-->
                                <!--<strong>22 203</strong><br>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center"><strong>Detalles</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>Producto</strong></td>
                                    <td class="text-center"><strong>Precio</strong></td>
                                    <td class="text-center"><strong>Cantidad</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Sopa de pollo especial</td>
                                    <td class="text-center">20.00 Bs.</td>
                                    <td class="text-center">2</td>
                                    <td class="text-right">40.00 Bs.</td>
                                </tr>
                                <tr>
                                    <td>Brocheta de pescado</td>
                                    <td class="text-center">40.00 Bs.</td>
                                    <td class="text-center">2</td>
                                    <td class="text-right">80.00 Bs.</td>
                                </tr>
                                <tr>
                                    <td>Refresco Coca Cola</td>
                                    <td class="text-center">12.00 Bs.</td>
                                    <td class="text-center">3</td>
                                    <td class="text-right">36.00 Bs.</td>
                                </tr>
                                <tr>
                                    <td class="highrow"></td>
                                    <td class="highrow"></td>
                                    <td class="highrow text-center"><strong>Subtotal</strong></td>
                                    <td class="highrow text-right">156.0 Bs.</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Envio</strong></td>
                                    <td class="emptyrow text-right">20.00 Bs.</td>
                                </tr>
                                <tr>
                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                    <td class="emptyrow"></td>
                                    <td class="emptyrow text-center"><strong>Total</strong></td>
                                    <td class="emptyrow text-right">176.00 Bs.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-centered">
                    <button
                            class="btn btn-lg btn-success btn-block"
                            type="submit">Imprimir
                    </button>
                </div>
            </div>
        </div>
    </div>

</div><!-- /container -->

<style>
    .height {
        min-height: 200px;
    }

    .icon {
        font-size: 47px;
        color: #5CB85C;
    }

    .iconbig {
        font-size: 77px;
        color: #5CB85C;
    }

    .table > tbody > tr > .emptyrow {
        border-top: none;
    }

    .table > thead > tr > .emptyrow {
        border-bottom: none;
    }

    .table > tbody > tr > .highrow {
        border-top: 3px solid;
    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
</style>